<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_commerce_mobile">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommercemobile">
        <activity android:name=".viewModel.MonCompte"></activity>
        <activity android:name=".viewModel.UpdateDetailUtilisateurActivity" />
        <activity android:name=".viewModel.ConfirmationPreCommandeActivity" />
        <activity android:name=".viewModel.TransactionActivity" />
        <activity android:name=".viewModel.PrePaiementActivity" />
        <activity android:name=".viewModel.PaiementFinalActivity" />
        <activity android:name=".viewModel.MonAdresseActivity" />
        <activity android:name=".viewModel.VueProduitActivity" />
        <activity android:name=".viewModel.PreparationCommandeActivity" />
        <activity android:name=".viewModel.OuvrirCompteBusinessActivity" />
        <activity android:name=".viewModel.AjouterNouveauProduitActivity" />
        <activity android:name=".viewModel.AjouterNouveauAdresseActivity" />
        <activity android:name=".viewModel.AproposDeveloppeurActivity" />
        <activity android:name=".viewModel.ConfirmationCommandeActivity" />
        <activity android:name=".viewModel.CommandeActivity" />
        <activity android:name=".viewModel.SplashScreenActivity" />
        <activity android:name=".viewModel.ListePanierActivity" />
        <activity android:name=".viewModel.ChangerPasswordActivity" />
        <activity android:name=".viewModel.SignUpActivity" />
        <activity android:name=".viewModel.LoginActivity" />
        <activity android:name=".viewModel.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>